.mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timmer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}